In [1]:
import pandas as pd
import gpxpy as gx

In [2]:
# Define the input and output file paths and file formats for this sample read
file_paths = {'in':'../data/raw/Ride_to_alum_creek.gpx',
              'out':'../data/converted/Ride_to_alum_creek.csv'
             }

**gpxpy Reference:** [link](https://github.com/tkrajina/gpxpy)

In [3]:
# Setup data capture as lists initially
data = []

In [4]:
with open(file_paths['in'],'r') as opened_file:
    # parse the .gpx file into a GPX object
    gpx = gx.parse(opened_file)
    
    # iterate through all tracks, segments and points to extract the data
    for i, track in enumerate(gpx.tracks):
        for j, segment in enumerate(track.segments):
            for point in segment.points:
                # create the row of data & append to data
                row = {'track':i, 'segement':j, 'time':point.time, 
                       'elevation':point.elevation, 'latitude':point.latitude, 'longitude':point.longitude}
                data.append(row)

In [6]:
data[0:2]

[{'track': 0,
  'segement': 0,
  'time': datetime.datetime(2020, 7, 12, 11, 15, 1, tzinfo=SimpleTZ("Z")),
  'elevation': 228.9,
  'latitude': 40.080766,
  'longitude': -83.036139},
 {'track': 0,
  'segement': 0,
  'time': datetime.datetime(2020, 7, 12, 11, 15, 2, tzinfo=SimpleTZ("Z")),
  'elevation': 228.9,
  'latitude': 40.080772,
  'longitude': -83.036132}]

In [10]:
# capture the data structure as a Pandas Dataframe
df = pd.DataFrame(data)
print(f'There are {df.shape[0]} rows and {df.shape[1]} columns:')
print(f'\t-{list(df.columns)}')

There are 8771 rows and 6 columns:
	-['track', 'segement', 'time', 'elevation', 'latitude', 'longitude']

In [11]:
df.head()

   track  segement                      time  elevation   latitude  longitude
0      0         0 2020-07-12 11:15:01+00:00      228.9  40.080766 -83.036139
1      0         0 2020-07-12 11:15:02+00:00      228.9  40.080772 -83.036132
2      0         0 2020-07-12 11:15:04+00:00      228.8  40.080779 -83.036126
3      0         0 2020-07-12 11:15:05+00:00      228.8  40.080786 -83.036120
4      0         0 2020-07-12 11:15:07+00:00      228.8  40.080792 -83.036115

In [13]:
# save the dataframe as a .csv file
df.to_csv(file_paths['out'], header=True, index=False)