In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
file_paths = {'in':'../data/enriched/Ride_to_alum_creek.csv',
              'out':'../data/enriched/Ride_to_alum_creek.csv'
             }

df = pd.read_csv(file_paths['in'])

In [7]:
# convert the time column to a datetime type
df['time'] = pd.to_datetime(df['time'])

In [8]:
df.columns

Index(['track', 'segment', 'time', 'time_utc', 'time_diff', 'elapsed_time',
       'elevation', 'latitude', 'longitude', 'distance', 'elapsed_distance',
       'speed', 'grade'],
      dtype='object')

In [9]:
df.head()

,track,segment,time,time_utc,time_diff,elapsed_time,elevation,latitude,longitude,distance,elapsed_distance,speed,grade
0,0,0,2020-07-12 11:15:01+00:00,1.594553e+09,NaN,NaN,228.9,40.080766,-83.036139,NaN,NaN,NaN,NaN
1,0,0,2020-07-12 11:15:02+00:00,1.594553e+09,1.0,1.0,228.9,40.080772,-83.036132,0.000556,0.000556,2.000532,0.000000
2,0,0,2020-07-12 11:15:04+00:00,1.594553e+09,2.0,3.0,228.8,40.080779,-83.036126,0.000578,0.001134,1.041101,-3.274506
3,0,0,2020-07-12 11:15:05+00:00,1.594553e+09,1.0,4.0,228.8,40.080786,-83.036120,0.000578,0.001712,2.082202,0.000000
4,0,0,2020-07-12 11:15:07+00:00,1.594553e+09,2.0,6.0,228.8,40.080792,-83.036115,0.000492,0.002204,0.884990,0.000000