In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
file_paths = {'in':'../data/enriched/Ride_to_alum_creek.csv',
              'out':'../data/enriched/Ride_to_alum_creek.csv'
             }

df = pd.read_csv(file_paths['in'])

In [3]:
# convert the time column to a datetime type
df['time'] = pd.to_datetime(df['time'])

In [4]:
df.columns

Index(['track', 'segment', 'time', 'time_utc', 'time_diff', 'elapsed_time',
       'elevation', 'latitude', 'longitude', 'distance', 'elapsed_distance',
       'speed', 'grade'],
      dtype='object')

In [5]:
df.head()

,track,segment,time,time_utc,time_diff,elapsed_time,elevation,latitude,longitude,distance,elapsed_distance,speed,grade
0,0,0,2020-07-12 11:15:01+00:00,1.594553e+09,NaN,NaN,751.0209,40.080766,-83.036139,NaN,NaN,NaN,NaN
1,0,0,2020-07-12 11:15:02+00:00,1.594553e+09,1.0,1.0,751.0209,40.080772,-83.036132,0.000556,0.000556,2.000532,0.000000
2,0,0,2020-07-12 11:15:04+00:00,1.594553e+09,2.0,3.0,750.6928,40.080779,-83.036126,0.000578,0.001134,1.041101,-10.743653
3,0,0,2020-07-12 11:15:05+00:00,1.594553e+09,1.0,4.0,750.6928,40.080786,-83.036120,0.000578,0.001712,2.082202,0.000000
4,0,0,2020-07-12 11:15:07+00:00,1.594553e+09,2.0,6.0,750.6928,40.080792,-83.036115,0.000492,0.002204,0.884990,0.000000

# 1. Segment ID

In [7]:
# find all indices where time gaps are greater than 2 seconds
filt_segment_starts = df.loc[:,'time_diff'] > 2 
segment_starts = df.loc[filt_segment_starts, :]

In [10]:
# we only want the indices of the dataframe where new segments start 
# we must include index=0 as the start of the 0th segment
segment_start_indices = [0] + list(segment_starts.index)
print(len(segment_start_indices))

47

In [12]:
for i in range(0, len(segment_start_indices)):
    # create an index filter starting on the i^th segment's start index
    # end the filter one row before the start of segment i+1
    start_index = segment_start_indices[i]
    if (i == len(segment_start_indices)-1): 
        # if the last segment is being assigned, i+1 will give an index error
        # instead, set the end index to be the last index of the dataframe
        end_index = df.shape[0]-1
    else:
        end_index = segment_start_indices[i+1] - 1
    
    # for all rows between the index endpoints, assign that segment ID = i
    df.loc[start_index:end_index,'segment'] = i

In [ ]:
# because a segment in Strava means a physical stretch of a path, ta

# 2. Plotting Ride Segments